<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- If you need to read audio files (Android 13) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Internet is a normal permission, no runtime prompt needed -->
    <uses-permission android:name="android.permission.INTERNET" />

<!--    <uses-permission android:name="MANAGE_EXTERNAL_STORAGE" />-->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">

        <!-- Update the activity name if you've moved it to a different package -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Blindeye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
